



@import url(http://fonts.googleapis.com/css?family=Montserrat)

//html, body, .container
  //height: 100%
  //width: 100%
  //min-height: 400px
  //overflow: hidden



body
  background-image: linear-gradient(180deg, #00d39b, #4cb9c5)
  background-repeat: no-repeat
  padding: 5px
  transition: padding 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55)
  @media (min-width: 992px) 
    padding: 10px
.background
  background: #ffffff


  


h1, h2, h3, h4, h5 
  
hr 
  clear: both
  float: none
  width: 100%
  height: 1px
  margin: 1.4em 0
  border: none 
  background: #ddd
  //background-image: -webkit-gradient(linear,left bottom,right bottom,color-stop(0, rgb(255,255,255)),color-stop(0.1, rgb(221,221,221)),color-stop(0.9, rgb(221,221,221)),color-stop(1, rgb(255,255,255))
  background-image: -moz-linear-gradient(left center,rgb(255,255,255) 0%,rgb(221,221,221) 10%,rgb(221,221,221) 90%,rgb(255,255,255) 100%)
// JockStrap
.container
  background: #ffffff
  padding-bottom: 5% 




  .centered-text
    text-align: center
  .body-row
    width: 100%
    display: inline-block
  .body-full
    width: 100%
  .body-50pc
    width: 50%
    float: left
  .body-33pc
    width: 33.3%
    float: left
  .body-25pc
    width: 25%
    float: left
  .body-75pc
    width: 75%
    float: left 
  @media screen and (max-width: 768px)
    .body-75pc, .body-25pc, .body-33pc, .body-50pc
      width: 100%
  // End of JockStrap -- Please maintain consistency 

//Fancy NavBurger

$barwidth: 25px
$ub-bgdarkblue: #00d39b
$ub-textdarkblue: #00d39b

.nav-burger
  top: 25px
  z-index: 2
  right: 12px
  width: $barwidth
  height: 20px
  padding: 8px 0
  cursor: pointer
  position: relative
  span
    height: 4px
    display: block
    overflow: hidden
    text-indent: 100%
    background: $ub-textdarkblue
    white-space: nowrap
    width: $barwidth
    transition: background 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55)
  &::before, 
  &::after
    left: 0
    content: ''
    width: $barwidth
    height: 4px
    background: #00d39b
    position: absolute
    transform-origin: center center
    transition: width 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out
  &::before
    top: 0
  &::after
    bottom: 0
  &.menu-open
    span
      background: rgba(0, 211, 155, 0)
    &::before
      top: 8px
      transform: rotate(-45deg)
    &::after
      bottom: 8px
      transform: rotate(45deg)
    &::before, 
    &::after
      width: 26px
      background: #00d39b
    &:hover, 
    &:focus, 
    &:active
      span
        background: rgba(0, 211, 155, 0)
      &::before
        top: 8px
        left: -3px
        transform: rotate(-45deg)
      &::after
        left: 9px
        bottom: 8px
        transform: rotate(45deg)
      &::before, &::after
        width: 18px
  &:hover,
  &:focus,
  &:active
    span
      background: rgba(255, 255, 255, 0)
    &::before
      top: 8px
      left: -3px
      transform: rotate(45deg)
    &::after
      left: 9px
      bottom: 8px
      transform: rotate(-45deg)
    &::before, &::after
      width: 18px

.is-active-menu
  padding: 135px 5px 5px 5px




//Individual work pages
.icon-ion-plus:before 
  content: "\002B"

.expand-text .icon 
  display: inline-block
  margin-bottom: 10px
  font-size: 30px
  transition: .3s
  -webkit-backface-visibility: hidden

.expand-text .icon.rotate 
  -webkit-transform: rotate(135deg)
  -ms-transform: rotate(135deg)
  transform: rotate(135deg)

.description-small
  display: inline-block
  padding: 20px 0
  margin-bottom: 10px
  .container
    background: none
  h1
    font-size: 27px

.work-intro 
  margin-bottom: 10px
  font-size: 18px
  line-height: 1.4

.expand-text 
  cursor: pointer

.expand-text .icon 
  display: inline-block
  margin-bottom: 10px
  font-size: 30px
  transition: .3s
  -webkit-backface-visibility: hidden

.expandable-text 
  display: none
  margin-bottom: 20px

.projectPic
  margin-top: 15px


//Global Stylez


.col-ms-1, .col-ms-10, .col-ms-11, .col-ms-12, .col-ms-2, .col-ms-3, .col-ms-4, .col-ms-5, .col-ms-6, .col-ms-7, .col-ms-8, .col-ms-9
  position: relative
  min-height: 1px
  padding-right: 5px
  padding-left: 5px

@media (min-width: 480px) and (max-width: 767px)
  .container
    max-width: 748px
  .hidden-xs
    display: block !important
  .col-ms-1, .col-ms-10, .col-ms-11, .col-ms-12, .col-ms-2, .col-ms-3, .col-ms-4, .col-ms-5, .col-ms-6, .col-ms-7, .col-ms-8, .col-ms-9
    float: left
  .col-ms-12
    width: 100%
  .col-ms-11
    width: 91.66667%
  .col-ms-10
    width: 83.33333%
  .col-ms-9
    width: 75%
  .col-ms-8
    width: 66.66667%
  .col-ms-7
    width: 58.33333%
  .col-ms-6
    width: 50%
  .col-ms-5
    width: 41.66667%
  .col-ms-4
    width: 33.33333%
  .col-ms-3
    width: 25%
  .col-ms-2
    width: 16.66667%
  .col-ms-1
    width: 8.33333%
  .col-ms-pull-12
    right: 100%
  .col-ms-pull-11
    right: 91.66667%
  .col-ms-pull-10
    right: 83.33333%
  .col-ms-pull-9
    right: 75%
  .col-ms-pull-8
    right: 66.66667%
  .col-ms-pull-7
    right: 58.33333%
  .col-ms-pull-6
    right: 50%
  .col-ms-pull-5
    right: 41.66667%
  .col-ms-pull-4
    right: 33.33333%
  .col-ms-pull-3
    right: 25%
  .col-ms-pull-2
    right: 16.66667%
  .col-ms-pull-1
    right: 8.33333%
  .col-ms-pull-0
    right: auto
  .col-ms-push-12
    left: 100%
  .col-ms-push-11
    left: 91.66667%
  .col-ms-push-10
    left: 83.33333%
  .col-ms-push-9
    left: 75%
  .col-ms-push-8
    left: 66.66667%
  .col-ms-push-7
    left: 58.33333%
  .col-ms-push-6
    left: 50%
  .col-ms-push-5
    left: 41.66667%
  .col-ms-push-4
    left: 33.33333%
  .col-ms-push-3
    left: 25%
  .col-ms-push-2
    left: 16.66667%
  .col-ms-push-1
    left: 8.33333%
  .col-ms-push-0
    left: auto
  .col-ms-offset-12
    margin-left: 100%
  .col-ms-offset-11
    margin-left: 91.66667%
  .col-ms-offset-10
    margin-left: 83.33333%
  .col-ms-offset-9
    margin-left: 75%
  .col-ms-offset-8
    margin-left: 66.66667%
  .col-ms-offset-7
    margin-left: 58.33333%
  .col-ms-offset-6
    margin-left: 50%
  .col-ms-offset-5
    margin-left: 41.66667%
  .col-ms-offset-4
    margin-left: 33.33333%
  .col-ms-offset-3
    margin-left: 25%
  .col-ms-offset-2
    margin-left: 16.66667%
  .col-ms-offset-1
    margin-left: 8.33333%
  .col-ms-offset-0
    margin-left: 0

.visible-ms, .visible-xs, .visible-ms-block, .visible-ms-inline, .visible-ms-inline-block, .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block
  display: none !important

@media (max-width: 479px)
  .visible-xs
    display: block !important
  table.visible-xs
    display: table
  tr.visible-xs
    display: table-row !important
  td.visible-xs, th.visible-xs
    display: table-cell !important
  .visible-xs-block
    display: block !important
  .visible-xs-inline
    display: inline !important
  .visible-xs-inline-block
    display: inline-block !important

@media (min-width: 480px) and (max-width: 767px)
  .visible-ms
    display: block !important
  table.visible-ms
    display: table
  tr.visible-ms
    display: table-row !important
  td.visible-ms, th.visible-ms
    display: table-cell !important
  .visible-ms-block
    display: block !important
  .visible-ms-inline
    display: inline !important
  .visible-ms-inline-block
    display: inline-block !important



a
  color: #00d39b
a:hover
  color: #4cb9c5
  text-decoration: none

header
  height: 80px
  background: #ffffff
  h1
    font-family: 'Montserrat'
    color: #424242
    font-size: 18px
    margin-top: 28px
    padding-left: 0 !important
.mainNav
  position: absolute
  top: 0
  left: 0
  height: 130px
  width: 100%
  padding: 10px
  transform: translateY(-130px)
  transition: transform .3s ease
  ul
    text-align: center
    list-style: none
    line-height: 2
    padding: 0
    a
      font-family: 'Montserrat'
      color: #ffffff
      font-size: 12px
.active
  transform: translateY(0px)
img
  width: 100%
  height: auto

footer
  height: 70px  
  img
    display: block
    margin-left: auto
    margin-right: auto
    max-width: 100%
    width: auto


// Page styles


//Index Ting


.no-gutter 
  [class*='col-'] 
    padding-right: 5px
    padding-left: 5px

#projectMain
  padding: 10px 0

.panel-image 
  margin-bottom: 10px

.panel-image-footer
  margin-bottom: 20px
  h2
    padding-top: 2px
    margin-top: 0
    margin-bottom: 2px
    font-size: 16px
    font-weight: 700
    color: #403f40
  p
    margin-bottom: 0
    font-size: 16px
    color: #c1c1c1
  h2, p
    display: inline

@media screen and (min-width: 768px)
  .panel-image-footer
    position: absolute
    top: 0
    right: 5px
    bottom: 0
    left: 5px
    display: block
    margin-bottom: 0
    background: rgba(0, 0, 0, 0.7)
    opacity: 0
    transition: .5s
    -webkit-backface-visibility: hidden
    .text-container
      position: absolute
      top: 220px
      left: 0
      width: 100%
      text-align: center
      -webkit-transform: translateZ(0)
      h2, p
        -webkit-backface-visibility: hidden
        backface-visibility: hidden
        -webkit-font-smoothing: subpixel-antialiased
    &:hover
      opacity: 1
      .text-container
        -webkit-animation: fadeInUp .4s
        animation: fadeInUp 0.4s
    h2, p
      color: #fff

@media screen and (min-width: 1200px)
  .panel-image-footer .text-container
    top: 250px
  .col-sm-4 .panel-image-footer .text-container 
    top: 120px
  .col-sm

@media screen and (min-width: 768px)
  .col-sm-4 .panel-image-footer
    margin-bottom: 10px
    .text-container
      position: absolute
      top: 100px
      left: 0
      width: 100%
      text-align: center


  
    
  .work-intro 
    font-size: 26px
    

//About Page
#cvContainer
  padding: 5% 0
#meCon
  padding-bottom: 25px
#timeline
  padding-bottom: 3%

#meConSet
  padding-right: 30px

#skills
  padding-left: 30px

.about-intro
  font-size: 20px
  padding: 15% 0

#cvDwn
  padding-top: 5%

.dwnldCV
  margin-left: auto
  margin-right: auto
  display: table
  color: #868686
  border-radius: 25px
  &:hover
    color: #ffffff


// Contact Page

#mePic
  padding: 0
  overflow: hidden
  max-height: 350px

input, textarea
  margin-bottom: 10px


















