<div class="project-header-image">
  <%= image_tag "images/projects/mixtable/header.jpg" %>
</div>
<div class="container project-body">
  <div class="body-row">
    <div class="body-50pc">  
      <h1>
        The Crosstown Trio
      </h1>
      <h4>
        
      </h4>
      <p><b>Made with: <a href="https://github.com/nwjs/nw.js/">NodeWebkit</a>. View on <a href="">GitHub</a></b><br/>
        <a href="">More info...</a>
      </p>
    </div>
    <div class="body-50pc centered-text">
      <%= image_tag "images/projects/quitstik/quitstik_prototype.jpg" %>
    </div>
  </div>
</div>