<div class="container project-body quitstik_project">
  <div class="body-row">
    <div class="body-50pc">  
      <h1>
        QuitStik
      </h1>
      <h4>
        The smart smoking cessation aid
      </h4>
      <p><b>Made with: <a href="https://github.com/nwjs/nw.js/">NodeWebkit</a>. View on <a href="">GitHub</a></b><br/>
        The Quitstik is a smart smoking cessation aid. It uses an ecigarette paired with a smartphone to guide a user through a smoking cessation program. Pictured below is the current prototype, the project is still in development. <a href="">More info...</a>
      </p>
    </div>
    <div class="body-50pc centered-text">
      <%= image_tag "images/projects/quitstik/quitstik_prototype.jpg" %>
    </div>
  </div>
</div>