---
title: Contact Me 
---

<div class="col-xs-12" id="mePic">
    <%= image_tag("images/mePic.jpg") %>
</div>
<div class="col-md-4 col-xs-12">
	<div class="col-xs-12 centered-text">
		<h2>Friendly Message!</h2>
	</div>

	<div class="col-xs-12 centered-text">
		<P>Email: <%= link_to "hello@dbahnan.com", 'mailto:hello@dbahnan.com' %></P>
	</div>
	<div class="col-xs-12 centered-text">
		<P>Location: <%= link_to "Crouch End, London", 'https://goo.gl/maps/wvUVg' %></P>
	</div>
	<div class="col-xs-12 centered-text">
		<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-queen" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
	</div>
</div>
<hr/>
<div class="col-md-8 col-xs-12">
	<div class="col-xs-12">
		<p>Contact me</p>
		<input type="text" class="form-control" placeholder="Name">
	</div>
	<div class="col-xs-12">
		<input type="text" class="form-control" placeholder="Email">
	</div>
	<div class="col-xs-12">
		<textarea type="text" rows="5" class="form-control" placeholder="Message"></textarea>
		<button type="button" class="btn btn-success btn-default btn-block">Done</button>
	</div>
</div>

<script>
	document.getElementById("contact").className = "active";
</script>