---
title: dbahnan
---

<hr/>

 <div class="row tiles">
    <a href="/work/project1.html">
      <div class="col-ms-6 col-sm-8 col-md-6">
        <img src="images/pHolder.gif"  class="panel-image img-responsive" title="" id="panel-image-0">
        <div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>The Wrong Side Of The Studs </h2><br>
              <p>Story, Print</p>
            </div>
          </div>
        </div></a>



    <a href="work/cardinal-heifer.html">
      <div class="col-ms-6 col-sm-4 col-md-3">
        <img src="http://i-up.co.uk/i/img/63/efa8e680-82d2-4318-9430-08bc5b8d90c8/CardinalHeifer-Tile.jpg?preset=jpgp&w=570"
                     srcset="http://i-up.co.uk/i/img/63/efa8e680-82d2-4318-9430-08bc5b8d90c8/CardinalHeifer-Tile.jpg?preset=jpgp&w=400 400w,
                             http://i-up.co.uk/i/img/63/efa8e680-82d2-4318-9430-08bc5b8d90c8/CardinalHeifer-Tile.jpg?preset=jpgp&w=470 470w,
                             http://i-up.co.uk/i/img/63/efa8e680-82d2-4318-9430-08bc5b8d90c8/CardinalHeifer-Tile.jpg?preset=jpgp&w=570 570w,
                             http://i-up.co.uk/i/img/63/efa8e680-82d2-4318-9430-08bc5b8d90c8/CardinalHeifer-Tile.jpg?preset=jpgp&w=800 800w,
                             http://i-up.co.uk/i/img/63/efa8e680-82d2-4318-9430-08bc5b8d90c8/CardinalHeifer-Tile.jpg?preset=jpgp&w=940 940w,
                             http://i-up.co.uk/i/img/63/efa8e680-82d2-4318-9430-08bc5b8d90c8/CardinalHeifer-Tile.jpg?preset=jpgp&w=1140 1140w"
                     alt="Cardinal Heifer Preview" title="" id="panel-image-1"
                     class="panel-image img-responsive"><div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Cardinal Heifer</h2><br>
              <p>Identity</p>
            </div>
          </div></div></a><a href="work/cv-portfolio.html"><div class="col-ms-6 col-sm-4 col-md-3"><img src="http://i-up.co.uk/i/img/63/64774de6-e9a4-4b6c-924a-274c9fc5ba45/cvandportfolio-tile.jpg?preset=jpgp&w=570"
                     srcset="http://i-up.co.uk/i/img/63/64774de6-e9a4-4b6c-924a-274c9fc5ba45/cvandportfolio-tile.jpg?preset=jpgp&w=400 400w,
                             http://i-up.co.uk/i/img/63/64774de6-e9a4-4b6c-924a-274c9fc5ba45/cvandportfolio-tile.jpg?preset=jpgp&w=470 470w,
                             http://i-up.co.uk/i/img/63/64774de6-e9a4-4b6c-924a-274c9fc5ba45/cvandportfolio-tile.jpg?preset=jpgp&w=570 570w,
                             http://i-up.co.uk/i/img/63/64774de6-e9a4-4b6c-924a-274c9fc5ba45/cvandportfolio-tile.jpg?preset=jpgp&w=800 800w,
                             http://i-up.co.uk/i/img/63/64774de6-e9a4-4b6c-924a-274c9fc5ba45/cvandportfolio-tile.jpg?preset=jpgp&w=940 940w,
                             http://i-up.co.uk/i/img/63/64774de6-e9a4-4b6c-924a-274c9fc5ba45/cvandportfolio-tile.jpg?preset=jpgp&w=1140 1140w"
                     alt="CV and Porfolio Mailer Preview" title="" id="panel-image-2"
                     class="panel-image img-responsive"><div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>CV & Portfolio Mailer</h2><br>
              <p>Identity, Print, Editorial </p>
            </div>
          </div></div></a><a href="work/sky.html"><div class="col-ms-6 col-sm-4 col-md-3"><img src="http://i-up.co.uk/i/img/63/3490903e-40a6-4e3d-a3fc-404dbf9a8ecd/sky-tile.jpg?preset=jpgp&w=570"
                     srcset="http://i-up.co.uk/i/img/63/3490903e-40a6-4e3d-a3fc-404dbf9a8ecd/sky-tile.jpg?preset=jpgp&w=400 400w,
                             http://i-up.co.uk/i/img/63/3490903e-40a6-4e3d-a3fc-404dbf9a8ecd/sky-tile.jpg?preset=jpgp&w=470 470w,
                             http://i-up.co.uk/i/img/63/3490903e-40a6-4e3d-a3fc-404dbf9a8ecd/sky-tile.jpg?preset=jpgp&w=570 570w,
                             http://i-up.co.uk/i/img/63/3490903e-40a6-4e3d-a3fc-404dbf9a8ecd/sky-tile.jpg?preset=jpgp&w=800 800w,
                             http://i-up.co.uk/i/img/63/3490903e-40a6-4e3d-a3fc-404dbf9a8ecd/sky-tile.jpg?preset=jpgp&w=940 940w,
                             http://i-up.co.uk/i/img/63/3490903e-40a6-4e3d-a3fc-404dbf9a8ecd/sky-tile.jpg?preset=jpgp&w=1140 1140w"
                     alt="You're In Control Preview" title="" id="panel-image-3"
                     class="panel-image img-responsive"><div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>You're In Control</h2><br>
              <p>Copywriting, Advertising</p>
            </div>
          </div></div></a><a href="work/speaking-volumes.html"><div class="col-ms-6 col-sm-4 col-md-3"><img src="http://i-up.co.uk/i/img/63/86158ba4-08d8-408a-8b98-068198f009fe/speakingvol-tile.jpg?preset=jpgp&w=570"
                     srcset="http://i-up.co.uk/i/img/63/86158ba4-08d8-408a-8b98-068198f009fe/speakingvol-tile.jpg?preset=jpgp&w=400 400w,
                             http://i-up.co.uk/i/img/63/86158ba4-08d8-408a-8b98-068198f009fe/speakingvol-tile.jpg?preset=jpgp&w=470 470w,
                             http://i-up.co.uk/i/img/63/86158ba4-08d8-408a-8b98-068198f009fe/speakingvol-tile.jpg?preset=jpgp&w=570 570w,
                             http://i-up.co.uk/i/img/63/86158ba4-08d8-408a-8b98-068198f009fe/speakingvol-tile.jpg?preset=jpgp&w=800 800w,
                             http://i-up.co.uk/i/img/63/86158ba4-08d8-408a-8b98-068198f009fe/speakingvol-tile.jpg?preset=jpgp&w=940 940w,
                             http://i-up.co.uk/i/img/63/86158ba4-08d8-408a-8b98-068198f009fe/speakingvol-tile.jpg?preset=jpgp&w=1140 1140w"
                     alt="Speaking Volumes Preview" title="" id="panel-image-4"
                     class="panel-image img-responsive"><div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Speaking Volumes</h2><br>
              <p>Identity</p>
            </div>
          </div></div></a><a href="work/netflix.html"><div class="col-ms-6 col-sm-4 col-md-3"><img src="http://i-up.co.uk/i/img/63/157829f9-98a4-42f9-a89b-5c3d8dbfdaba/netflix-tile.jpg?preset=jpgp&w=570"
                     srcset="http://i-up.co.uk/i/img/63/157829f9-98a4-42f9-a89b-5c3d8dbfdaba/netflix-tile.jpg?preset=jpgp&w=400 400w,
                             http://i-up.co.uk/i/img/63/157829f9-98a4-42f9-a89b-5c3d8dbfdaba/netflix-tile.jpg?preset=jpgp&w=470 470w,
                             http://i-up.co.uk/i/img/63/157829f9-98a4-42f9-a89b-5c3d8dbfdaba/netflix-tile.jpg?preset=jpgp&w=570 570w,
                             http://i-up.co.uk/i/img/63/157829f9-98a4-42f9-a89b-5c3d8dbfdaba/netflix-tile.jpg?preset=jpgp&w=800 800w,
                             http://i-up.co.uk/i/img/63/157829f9-98a4-42f9-a89b-5c3d8dbfdaba/netflix-tile.jpg?preset=jpgp&w=940 940w,
                             http://i-up.co.uk/i/img/63/157829f9-98a4-42f9-a89b-5c3d8dbfdaba/netflix-tile.jpg?preset=jpgp&w=1140 1140w"
                     alt="Revolutionising Your Telly Preview" title="" id="panel-image-5"
                     class="panel-image img-responsive"><div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Revolutionising Your Telly</h2><br>
              <p>Copywriting, Advertising, Print</p>
            </div>
          </div></div></a><a href="work/carve-up.html"><div class="col-ms-6 col-sm-4 col-md-3"><img src="http://i-up.co.uk/i/img/63/25c55f72-6c82-4921-b5e1-a3fb1ab5c0ad/carve-up-tile.jpg?preset=jpgp&w=570"
                     srcset="http://i-up.co.uk/i/img/63/25c55f72-6c82-4921-b5e1-a3fb1ab5c0ad/carve-up-tile.jpg?preset=jpgp&w=400 400w,
                             http://i-up.co.uk/i/img/63/25c55f72-6c82-4921-b5e1-a3fb1ab5c0ad/carve-up-tile.jpg?preset=jpgp&w=470 470w,
                             http://i-up.co.uk/i/img/63/25c55f72-6c82-4921-b5e1-a3fb1ab5c0ad/carve-up-tile.jpg?preset=jpgp&w=570 570w,
                             http://i-up.co.uk/i/img/63/25c55f72-6c82-4921-b5e1-a3fb1ab5c0ad/carve-up-tile.jpg?preset=jpgp&w=800 800w,
                             http://i-up.co.uk/i/img/63/25c55f72-6c82-4921-b5e1-a3fb1ab5c0ad/carve-up-tile.jpg?preset=jpgp&w=940 940w,
                             http://i-up.co.uk/i/img/63/25c55f72-6c82-4921-b5e1-a3fb1ab5c0ad/carve-up-tile.jpg?preset=jpgp&w=1140 1140w"
                     alt="What a Carve Up! Preview" title="" id="panel-image-6"
                     class="panel-image img-responsive"><div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>What a Carve Up!</h2><br>
              <p>Book Design</p>
            </div>
          </div></div></a><a href="work/miscellaneous.html"><div class="col-ms-6 col-sm-4 col-md-3"><img src="http://i-up.co.uk/i/img/63/83366b7d-1b4d-44c4-a55e-f36d11f10ebb/various2-tile.jpg?preset=jpgp&w=570"
                     srcset="http://i-up.co.uk/i/img/63/83366b7d-1b4d-44c4-a55e-f36d11f10ebb/various2-tile.jpg?preset=jpgp&w=400 400w,
                             http://i-up.co.uk/i/img/63/83366b7d-1b4d-44c4-a55e-f36d11f10ebb/various2-tile.jpg?preset=jpgp&w=470 470w,
                             http://i-up.co.uk/i/img/63/83366b7d-1b4d-44c4-a55e-f36d11f10ebb/various2-tile.jpg?preset=jpgp&w=570 570w,
                             http://i-up.co.uk/i/img/63/83366b7d-1b4d-44c4-a55e-f36d11f10ebb/various2-tile.jpg?preset=jpgp&w=800 800w,
                             http://i-up.co.uk/i/img/63/83366b7d-1b4d-44c4-a55e-f36d11f10ebb/various2-tile.jpg?preset=jpgp&w=940 940w,
                             http://i-up.co.uk/i/img/63/83366b7d-1b4d-44c4-a55e-f36d11f10ebb/various2-tile.jpg?preset=jpgp&w=1140 1140w"
                     alt="Miscellaneous Preview" title="" id="panel-image-7"
                     class="panel-image img-responsive"><div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Miscellaneous </h2><br>
              <p>Various</p>
            </div>
          </div></div></a><a href="work/seven-deadly-sins.html"><div class="col-ms-6 col-sm-4 col-md-3"><img src="http://i-up.co.uk/i/img/63/65d05f6a-0a12-449f-b258-4f89d3983a16/deadly-sins-tile.jpg?preset=jpgp&w=570"
                     srcset="http://i-up.co.uk/i/img/63/65d05f6a-0a12-449f-b258-4f89d3983a16/deadly-sins-tile.jpg?preset=jpgp&w=400 400w,
                             http://i-up.co.uk/i/img/63/65d05f6a-0a12-449f-b258-4f89d3983a16/deadly-sins-tile.jpg?preset=jpgp&w=470 470w,
                             http://i-up.co.uk/i/img/63/65d05f6a-0a12-449f-b258-4f89d3983a16/deadly-sins-tile.jpg?preset=jpgp&w=570 570w,
                             http://i-up.co.uk/i/img/63/65d05f6a-0a12-449f-b258-4f89d3983a16/deadly-sins-tile.jpg?preset=jpgp&w=800 800w,
                             http://i-up.co.uk/i/img/63/65d05f6a-0a12-449f-b258-4f89d3983a16/deadly-sins-tile.jpg?preset=jpgp&w=940 940w,
                             http://i-up.co.uk/i/img/63/65d05f6a-0a12-449f-b258-4f89d3983a16/deadly-sins-tile.jpg?preset=jpgp&w=1140 1140w"
                     alt="Seven Deadly Sins Preview" title="" id="panel-image-8"
                     class="panel-image img-responsive"><div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Seven Deadly Sins</h2><br>
              <p>Photography</p>
            </div>
          </div></div></a><a href="work/business-cards.html"><div class="col-ms-6 col-sm-4 col-md-3"><img src="http://i-up.co.uk/i/img/63/05bdc3fc-dfb7-4103-ab5f-93222eb2d75c/business-cards-tile.jpg?preset=jpgp&w=570"
                     srcset="http://i-up.co.uk/i/img/63/05bdc3fc-dfb7-4103-ab5f-93222eb2d75c/business-cards-tile.jpg?preset=jpgp&w=400 400w,
                             http://i-up.co.uk/i/img/63/05bdc3fc-dfb7-4103-ab5f-93222eb2d75c/business-cards-tile.jpg?preset=jpgp&w=470 470w,
                             http://i-up.co.uk/i/img/63/05bdc3fc-dfb7-4103-ab5f-93222eb2d75c/business-cards-tile.jpg?preset=jpgp&w=570 570w,
                             http://i-up.co.uk/i/img/63/05bdc3fc-dfb7-4103-ab5f-93222eb2d75c/business-cards-tile.jpg?preset=jpgp&w=800 800w,
                             http://i-up.co.uk/i/img/63/05bdc3fc-dfb7-4103-ab5f-93222eb2d75c/business-cards-tile.jpg?preset=jpgp&w=940 940w,
                             http://i-up.co.uk/i/img/63/05bdc3fc-dfb7-4103-ab5f-93222eb2d75c/business-cards-tile.jpg?preset=jpgp&w=1140 1140w"
                     alt="Business Cards Preview" title="" id="panel-image-9"
                     class="panel-image img-responsive"><div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Business Cards</h2><br>
              <p>Identity, Print</p>
            </div>
          </div></div></a><a href="work/folk-tales.html"><div class="col-ms-6 col-sm-4 col-md-3"><img src="http://i-up.co.uk/i/img/63/d498642b-46f0-4f6a-875f-642d53277fcb/folk-tales-2-tile.jpg?preset=jpgp&w=570"
                     srcset="http://i-up.co.uk/i/img/63/d498642b-46f0-4f6a-875f-642d53277fcb/folk-tales-2-tile.jpg?preset=jpgp&w=400 400w,
                             http://i-up.co.uk/i/img/63/d498642b-46f0-4f6a-875f-642d53277fcb/folk-tales-2-tile.jpg?preset=jpgp&w=470 470w,
                             http://i-up.co.uk/i/img/63/d498642b-46f0-4f6a-875f-642d53277fcb/folk-tales-2-tile.jpg?preset=jpgp&w=570 570w,
                             http://i-up.co.uk/i/img/63/d498642b-46f0-4f6a-875f-642d53277fcb/folk-tales-2-tile.jpg?preset=jpgp&w=800 800w,
                             http://i-up.co.uk/i/img/63/d498642b-46f0-4f6a-875f-642d53277fcb/folk-tales-2-tile.jpg?preset=jpgp&w=940 940w,
                             http://i-up.co.uk/i/img/63/d498642b-46f0-4f6a-875f-642d53277fcb/folk-tales-2-tile.jpg?preset=jpgp&w=1140 1140w"
                     alt="Folk Tales for the Ever Curious Preview" title="" id="panel-image-10"
                     class="panel-image img-responsive"><div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Folk Tales for the Ever Curious</h2><br>
              <p>Book Design </p>
            </div>
          </div></div></a><a href="work/what-they-didnt.html"><div class="col-ms-6 col-sm-4 col-md-3"><img src="http://i-up.co.uk/i/img/63/6fb7e4cf-02cc-4914-8bcd-d5cec5334c55/what-they-didn't-tile.jpg?preset=jpgp&w=570"
                     srcset="http://i-up.co.uk/i/img/63/6fb7e4cf-02cc-4914-8bcd-d5cec5334c55/what-they-didn't-tile.jpg?preset=jpgp&w=400 400w,
                             http://i-up.co.uk/i/img/63/6fb7e4cf-02cc-4914-8bcd-d5cec5334c55/what-they-didn't-tile.jpg?preset=jpgp&w=470 470w,
                             http://i-up.co.uk/i/img/63/6fb7e4cf-02cc-4914-8bcd-d5cec5334c55/what-they-didn't-tile.jpg?preset=jpgp&w=570 570w,
                             http://i-up.co.uk/i/img/63/6fb7e4cf-02cc-4914-8bcd-d5cec5334c55/what-they-didn't-tile.jpg?preset=jpgp&w=800 800w,
                             http://i-up.co.uk/i/img/63/6fb7e4cf-02cc-4914-8bcd-d5cec5334c55/what-they-didn't-tile.jpg?preset=jpgp&w=940 940w,
                             http://i-up.co.uk/i/img/63/6fb7e4cf-02cc-4914-8bcd-d5cec5334c55/what-they-didn't-tile.jpg?preset=jpgp&w=1140 1140w"
                     alt="What They Didn't Teach You Preview" title="" id="panel-image-11"
                     class="panel-image img-responsive"><div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>What They Didn't Teach You</h2><br>
              <p>Typesetting, Layout</p>
            </div>
          </div></div></a><a href="work/composition.html"><div class="col-ms-6 col-sm-4 col-md-3"><img src="http://i-up.co.uk/i/img/63/02ffd74c-bd36-4a2b-8c87-fed05e944479/comp-tile.jpg?preset=jpgp&w=570"
                     srcset="http://i-up.co.uk/i/img/63/02ffd74c-bd36-4a2b-8c87-fed05e944479/comp-tile.jpg?preset=jpgp&w=400 400w,
                             http://i-up.co.uk/i/img/63/02ffd74c-bd36-4a2b-8c87-fed05e944479/comp-tile.jpg?preset=jpgp&w=470 470w,
                             http://i-up.co.uk/i/img/63/02ffd74c-bd36-4a2b-8c87-fed05e944479/comp-tile.jpg?preset=jpgp&w=570 570w,
                             http://i-up.co.uk/i/img/63/02ffd74c-bd36-4a2b-8c87-fed05e944479/comp-tile.jpg?preset=jpgp&w=800 800w,
                             http://i-up.co.uk/i/img/63/02ffd74c-bd36-4a2b-8c87-fed05e944479/comp-tile.jpg?preset=jpgp&w=940 940w,
                             http://i-up.co.uk/i/img/63/02ffd74c-bd36-4a2b-8c87-fed05e944479/comp-tile.jpg?preset=jpgp&w=1140 1140w"
                     alt="" title="" id="panel-image-12"
                     class="panel-image img-responsive"><div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Composition </h2><br>
              <p>Identity</p>
            </div>
          </div></div></a>  </div>




<!-- 2 -->
  <div class="col-xs-12 col-md-10 col-md-offset-1" id="projectMain">
    <%= link_to image_tag("images/projects/2.TheUnit/1.jpg"), "/work/project2.html" %>
  </div>
<!-- 3 -->
  <div class="col-xs-12 col-md-10 col-md-offset-1" id="projectMain">
    <%= link_to image_tag("images/projects/3.SoupDragonShop/1.jpg"), "/work/project3.html" %>
  </div>
<!-- 4 -->
  <div class="col-xs-12 col-md-10 col-md-offset-1" id="projectMain">
    <%= image_tag("images/projects/comingSoon.jpg") %>
  </div>



<!-- 
  <div class="col-xs-12" id="project5">
    <%= link_to image_tag("images/projects/project1/Murray.jpeg"), "/work/project1.html" %>
  </div>
<hr/>
-->



