---
title: dbahnan
---
<div id="theAction">
  <div class="body-full">
    <div class="welcome"><h1>Hi, my name is Sinan. I am a designer/developer based in West London. I like creating experiences using a human centered design process and full stack web development. Please take a look at my <%= link_to 'work', '/work.html' %>. </h1></div>
  </div>
</div>