---
title: dbahnan
---

<hr/>

  <div class="row tiles">
    <a href="/work/project1.html">
      <div class="col-ms-6 col-sm-8 col-md-6">
        <img src="images/pHolder.gif"  class="panel-image img-responsive" title="" id="panel-image-1">
        <div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Evil Lego</h2><br>
              <p>Story, Print</p>
            </div>
          </div>
        </div></a>

    <a href="/work/project2.html">
      <div class="col-ms-6 col-sm-4 col-md-3">
        <img src="images/pHolder.gif"  class="panel-image img-responsive" title="" id="panel-image-2">
        <div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>The Unit </h2><br>
              <p>Furniture, Wood</p>
            </div>
          </div>
        </div></a>

    <a href="/work/project3.html">
      <div class="col-ms-6 col-sm-4 col-md-3">
        <img src="images/pHolder.gif"  class="panel-image img-responsive" title="" id="panel-image-3">
        <div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Soup Dragon</h2><br>
              <p>Retail, Experience</p>
            </div>
          </div>
        </div></a>

    <a href="#">
      <div class="col-ms-6 col-sm-4 col-md-3">
        <img src="images/pHolder.gif"  class="panel-image img-responsive" title="" id="panel-image-4">
        <div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Edgars Zoo</h2><br>
              <p>Coming Soon...</p>
            </div>
          </div>
        </div></a>

    <a href="#">
      <div class="col-ms-6 col-sm-4 col-md-3">
        <img src="images/pHolder.gif"  class="panel-image img-responsive" title="" id="panel-image-5">
        <div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Nudge Clock</h2><br>
              <p>Coming Soon...</p>
            </div>
          </div>
        </div></a>

    <a href="#">
      <div class="col-ms-6 col-sm-4 col-md-3">
        <img src="images/pHolder.gif"  class="panel-image img-responsive" title="" id="panel-image-6">
        <div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Yanky Panky</h2><br>
              <p>Coming Soon...</p>
            </div>
          </div>
        </div></a>

    <a href="#">
      <div class="col-ms-6 col-sm-4 col-md-3">
        <img src="images/pHolder.gif"  class="panel-image img-responsive" title="" id="panel-image-7">
        <div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Mixtable</h2><br>
              <p>Coming Soon...</p>
            </div>
          </div>
        </div></a>

    <a href="#">
      <div class="col-ms-6 col-sm-4 col-md-3">
        <img src="images/pHolder.gif"  class="panel-image img-responsive" title="" id="panel-image-8">
        <div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Dropbox QR</h2><br>
              <p>Coming Soon...</p>
            </div>
          </div>
        </div></a>

    <a href="#">
      <div class="col-ms-6 col-sm-4 col-md-3">
        <img src="images/pHolder.gif"  class="panel-image img-responsive" title="" id="panel-image-9">
        <div class="panel-image-footer clearfix">
            <div class="text-container">
              <h2>Split Testing</h2><br>
              <p>Coming Soon...</p>
            </div>
          </div>
        </div></a>
      </div>





<!-- 
  <div class="col-xs-12" id="project5">
    <%= link_to image_tag("images/projects/project1/Murray.jpeg"), "/work/project1.html" %>
  </div>
<hr/>
-->



